/* Colors */
@link: #3f0090;
@grey: #aaa;
@body: #666;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  color: @body;
  font: 16px Helvetica, Arial, sans-serif;

  a {
    color: #333;
    text-decoration: none;
    transition: color 0.25s ease;

    &:hover {
      color: @link;
      text-decoration: underline;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

h1 { margin-bottom: 0.2em; }
p { margin: 0 0 1.4em 0; }

@color: rgba(0,0,0,.08);
@color2: rgba(0,0,0,.02);

.gradient {
  height: 20px;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, @color, transparent);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, @color2, @color2, transparent);
  }
}

/* Header */
header {
  height: 400px;
  background: url('/images/background.jpg') no-repeat center top fixed;
  background-size: cover;
  background-color: #000;
  text-align: center;
  overflow: hidden;
  position: relative;

  h1 {
    font-family: "ff-ernestine-web-pro";
    font-size: 5em;
    text-shadow: 3px 3px 4px #000;
    padding-top: 100px;
    margin-bottom: 20px;
    transition: text-shadow 0.25s ease;

    &:hover {
      text-shadow: 4px 4px 4px #000;
    }
  }

  h2 {
    font-family: "ff-ernestine-web-pro";
    font-size: 1.6em;
    text-shadow: 2px 2px 3px #000;
    transition: text-shadow 0.25s ease;

    &:hover {
      text-shadow: 3px 3px 3px #000;
    }
  }

  .bar {
    height: 20px;
    opacity: 0.25;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .social {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 5px;
    font-size: 32px;
    line-height: 48px;
    text-shadow: 0 0 6px #000;

    a {
      transition: opacity 0.25s ease;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 799px) {
  header {
    background-size: 800px auto;
  }
}

/* Main Content */
#content {
  padding: 50px 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

/* Post List */
section.posts {
  div.post {
    margin-bottom: 1em;
  }

  h1 {
    font-family: "ff-ernestine-web-pro";
    font-size: 2em;
    margin-bottom: -6px;
    line-height: 1.2em;

    a {
      text-decoration: none;
      color: #333;
      transition: color 0.25s ease;

      &:hover {
        color: @link;
      }
    }
  }

  p {
    line-height: 1.6em;
    margin-bottom: 2em;

    &.date {
      font-size: 0.9em;
      color: @grey;
      margin-bottom: 0.2em;
    }
  }
}

/* standard */
.post pre {
  border: 1px solid #073642;
  background-color: #002b36;
  padding: .6em .6em;
  overflow-x: auto;
  max-height: 400px;
  border-radius: 6px;
  line-height: 1.5;
}

.post pre::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #002b36;
  border-radius: 0 0 3px 3px;
}

.post pre::-webkit-scrollbar-thumb {
  background-color: #586e75;
  border-radius: 3px;
}

.post pre::-webkit-scrollbar-corner {
  display: none;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #073642;
  background-color: #002b36;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #073642;
  background-color: #002b36;
  color: #839496;
}

.post pre.terminal code {
  background-color: #002b36;
}

@import "markdown.less";
@import "syntax.less";
