.post {
  .meta {
    overflow: auto;
    clear: left;
    font-size: 12pt;

    p {
      color: @grey;
      float: left;
      margin-bottom: 0.2em;
      margin-right: 1em;

      a {
        color: @grey;
        text-decoration: none;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.3em;
  }

  h6 {
    font-size: 1.2em;
  }

  div.highlight {
    margin: 1em 0;
  }

  p {
    code {
      background-color: #fdf6e3;
      color: #657b83;
      border: 1px solid #eee8d5;
      border-radius: 3px;
      padding: 2px 4px;
    }
  }

  hr {
    margin: 1em 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    // border: 0;
    // height: 1px;
    // background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    // background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    // background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    // background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  }

  blockquote {
    background: #fdf6e3;
    color: #657b83;
    border-left: 10px solid #268bd2;
    border-radius: 6px;
    box-shadow: 3px 3px #eee8d5;
    margin: 1.5em 0;
    padding: 10px 10px 7px 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
      color: #93a1a1;
      content: '“';
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.1em;
      vertical-align: -0.4em;
    }

    p {
      display: inline;
    }
  }

  ul, ol {
    list-style-position: inside;
    margin-left: 1.35em;
    font-size: 12pt;
  }

  &>ul, &>ol {
    background: #fdf6e3;
    color: #657b83;
    border-left: 10px solid #6c71c4;
    border-radius: 6px;
    box-shadow: 3px 3px #eee8d5;
    margin: 1.5em 0;
    padding: 10px 10px 7px 10px;
  }

  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }
  ol ol { list-style-type: lower-alpha; }
  ol ol ol { list-style-type: lower-roman; }
  ol ol ol ol { list-style-type: decimal; }
  ol ol ol ol ol { list-style-type: lower-alpha; }
  ol ol ol ol ol ol { list-style-type: lower-roman; }

  dl {
    overflow: auto;
    font-size: 12pt;
    margin-left: 1.35em;
  }

  &>dl {
    background: #fdf6e3;
    color: #657b83;
    border-left: 10px solid #dc322f;
    border-radius: 6px;
    box-shadow: 3px 3px #eee8d5;
    margin: 1.5em 0;
    padding: 10px;
  }

  dt {
    clear: left;
    float: left;
    width: 178px;
    text-align: right;
    font-weight: bold;
    padding: 4px 8px 4px 4px;
  }

  dd {
    border-left: 1px solid #93a1a1;
    padding: 4px 4px 4px 8px;
    float: left;
    max-width: 567px;
  }

  code {
    font-family: Monaco, monospace;
    font-size: 12pt;
  }

  /* Tables */
  table {
    margin: 1.5em 0;
    font-size: 12pt;

    border-collapse: separate;
    border-spacing: 0 0;
    padding: 10px;

    margin-left: 1.35em;
    background: #fdf6e3;
    color: #657b83;
    border-left: 10px solid #d33682;
    border-radius: 6px;
    box-shadow: 3px 3px #eee8d5;
    margin: 1.5em 0;

    width: 100%;
  }

  td, th {
    text-align: left;
    padding: 0.2em 10px 0.2em 10px;
  }

  th {
    border-bottom: 2px solid #93a1a1;
    font-weight: bold;
  }

  td {
      border-bottom: 1px solid #93a1a1;
  }

  tbody tr:last-child td {
    border: none;
  }
}
