---
layout: default
title: M-x Kelsin
---
<section class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="meta">
      <p class="date"><i class="fa fa-calendar fa-fw"></i>&nbsp;{{ post.date | date_to_string }}</p>
      <p class="comments"><i class="fa fa-comment fa-fw"></i>&nbsp;<a href="{{ post.url }}#disqus_thread">0 Comments</a></p>
    </div>
    {{ post.excerpt }}
  </div>
  {% endfor %}
</section>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
  {% endif %}
</div>
