<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page.desc %}<meta content="{{ page.desc }}" property="description">{% else %}<meta content="{{ site.desc }}" property="description">{% endif %}

    <meta content="{{ site.name }}" property="og:site_name">
    {% if page.title %}<meta content="{{ page.title }}" property="og:title">{% else %}<meta content="{{ site.name }}" property="og:title">{% endif %}
    {% if page.title %}<meta content="article" property="og:type">{% else %}<meta content="website" property="og:type">{% endif %}
    {% if page.desc %}<meta content="{{ page.desc }}" property="og:description">{% else %}<meta content="{{ site.desc }}" property="og:description">{% endif %}
    {% if page.url %}<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}
    {% if page.date %}<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}
    <meta content="{{ site.url }}/about/" property="article:author">
    {% if page.image %}<meta content="{{ page.image }}" property="og:image">{% else %}<meta content="{{ site.url }}/images/background.jpg" property="og:image">{% endif %}
    {% if page.tags %}{% for tag in page.tags %}<meta content="{{ tag }}" property="article:tag">
    {% endfor %}{% endif %}

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="initial-scale=1">

    <!-- TypeKit -->
    <script type="text/javascript" src="//use.typekit.net/pao8vov.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/kelsin.css">

    <!-- Feeds -->
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="RSS Feed">

    <!-- Glyphs -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Disqus shortname -->
    <script>var disqus_shortname = 'mxkelsin';</script>
  </head>
  <body class="nojs">
    <header data-stellar-background-ratio="0.5">
      <h1{% if page.id %} class="post"{% endif %}>{% if page.id %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</h1>
      {% unless page.id %}
      <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.desc }}{% endif %}</h2>
      {% endunless %}
      <div class="bar"></div>
    </header>

    {% assign group = 'header' %}
    {% include nav.html %}

    <div class="container" id="content">
      {{ content }}
    </div>

    <footer data-stellar-background-ratio="0.5">
      <div class="shadow"></div>
      <div class="bar"></div>
      {% assign group = 'footer' %}
      {% include nav.html %}
    </footer>

    <script src="/js/kelsin.js"></script>
    <script src="//mxkelsin.disqus.com/count.js"></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.analytics.google }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="//us.battle.net/d3/static/js/tooltips.js"></script>
    <script src="//static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
  </body>
</html>
