<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- TypeKit -->
    <script type="text/javascript" src="//use.typekit.net/pao8vov.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/kelsin.css">
  </head>
  <body>
    <header data-stellar-background-ratio="0.25">
      <h1 data-stellar-ratio="0.5">
        <a href="/">{{ site.name }}</a>
      </h1>
      <h2 data-stellar-ratio="0.5">
        <a href="/">{{ site.desc }}</a>
      </h2>
      <div class="social">
        {% if site.social.facebook %}
        <a href="{{site.data.social.facebook.url}}{{site.social.facebook}}" title="Facebook">{{site.data.social.facebook.glyph}}</a>
        {% endif %}
        {% if site.social.twitter %}
        <a href="{{site.data.social.twitter.url}}{{site.social.twitter}}" title="Twitter">{{site.data.social.twitter.glyph}}</a>
        {% endif %}
        {% if site.social.github %}
        <a href="{{site.data.social.github.url}}{{site.social.github}}" title="Github">{{site.data.social.github.glyph}}</a>
        {% endif %}
        {% if site.social.rdio %}
        <a href="{{site.data.social.rdio.url}}{{site.social.rdio}}" title="Rdio">{{site.data.social.rdio.glyph}}</a>
        {% endif %}
        {% if site.social.lastfm %}
        <a href="{{site.data.social.lastfm.url}}{{site.social.lastfm}}" title="Lastfm">{{site.data.social.lastfm.glyph}}</a>
        {% endif %}
        {% if site.social.linkedin %}
        <a href="{{site.data.social.linkedin.url}}{{site.social.linkedin}}" title="LinkedIn">{{site.data.social.linkedin.glyph}}</a>
        {% endif %}
        {% if site.social.gplus %}
        <a href="{{site.data.social.gplus.url}}{{site.social.gplus}}" title="Google+">{{site.data.social.gplus.glyph}}</a>
        {% endif %}
      </div>
    </header>

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
          Your Name<br />
          What You Are<br />
          you@example.com
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="https://github.com/yourusername">github.com/yourusername</a><br />
          <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
        </p>
      </div>
    </div>

    <script src="/js/kelsin.js"></script>
  </body>
</html>
