<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="initial-scale=1">

    <!-- TypeKit -->
    <script type="text/javascript" src="//use.typekit.net/pao8vov.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/kelsin.css">

    <!-- Feeds -->
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="RSS Feed">

    <!-- Glyphs -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Disqus shortname -->
    <script>var disqus_shortname = 'mxkelsin';</script>
  </head>
  <body class="nojs">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId={{ site.sharing.facebook }}&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header data-stellar-background-ratio="0.5">
      <h1{% if page.id %} class="post"{% endif %}>{% if page.id %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</h1>
      {% unless page.id %}
      <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.desc }}{% endif %}</h2>
      {% endunless %}
      <div class="bar"></div>
    </header>

    {% assign group = 'header' %}
    {% include nav.html %}

    <div class="container" id="content">
      {{ content }}
    </div>

    <footer data-stellar-background-ratio="0.5">
      <div class="shadow"></div>
      <div class="bar"></div>
      {% assign group = 'footer' %}
      {% include nav.html %}
    </footer>

    <script src="/js/kelsin.js"></script>
    <script src="//mxkelsin.disqus.com/count.js" async="true"></script>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=kelsin"></script>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.analytics.google }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="//us.battle.net/d3/static/js/tooltips.js"></script>
    <script src="//static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
  </body>
</html>
