---
layout: default
---
<article class="post">
  <div class="meta">
    <p class="date"><i class="fa fa-calendar fa-fw"></i>&nbsp;{{ page.date | date_to_string }}</p>
    <p class="comments"><i class="fa fa-comment fa-fw"></i>&nbsp;<a href="{{ page.url }}#disqus_thread">0 Comments</a></p>
    {% if page.tags.size > 0 %}
    <ul class="tags">
      <li><i class="fa fa-tags fa-fw"></i></li>
      {% assign tags = page.tags | sort: 'downcase' %}
      {% for tag in tags %}
      <li><a href="/tags/#tag-{{ tag | downcase | replace: ' ', '_' }}">{{ tag | downcase }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="body">
    {{ content }}
  </div>
  <div class="sharing">
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    <div class="g-plusone"></div>
  </div>
  <div id="disqus_thread"></div>
</div>
<script src="//mxkelsin.disqus.com/embed.js" async="true"></script>
