---
layout: default
---
<article class="post">
  <div class="meta">
    <p class="date">
      <i class="fas fa-calendar fa-fw"></i>
      &nbsp;<a href="/{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.date | date: '%d' }}/">{{ page.date | date: "%-d" }}</a>
      &nbsp;<a href="/{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/">{{ page.date | date: "%b" }}</a>
      &nbsp;<a href="/{{ page.date | date: '%Y' }}/">{{ page.date | date: "%Y" }}</a>
    </p>
    <p class="comments"><i class="fas fa-comment fa-fw"></i>&nbsp;<a href="{{ page.url }}#disqus_thread">0 Comments</a></p>
    {% if page.tags.size > 0 %}
    <ul class="tags">
      {% assign tags = page.tags | sort: 'downcase' %}
      {% for tag in tags %}
      <li>{% if forloop.first %}<i class="fas fa-tags fa-fw"></i>&nbsp;{% endif %}<a href="/tags/#tag-{{ tag | downcase | replace: ' ', '_' }}">{{ tag | downcase }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="body">
    {{ content }}
  </div>

  <div class="pagination">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="next"><i class="fa fa-arrow-left fa-fw"></i>&nbsp;Older</a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{ page.next.url }}" class="previous">Newer&nbsp;<i class="fa fa-arrow-right fa-fw"></i></a>
    {% endif %}
  </div>

  <div id="disqus_thread"></div>
</article>

<script src="//mxkelsin.disqus.com/embed.js" async="async"></script>
